In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time

In [7]:
df = pd.read_csv("litery-czas2-kopia.txt")

In [8]:
df

   litera                       czas
0       a    czas: 1669883568.909073
1       b   czas: 1669883569.9139771
2       c   czas: 1669883570.9172354
3       d    czas: 1669883571.919477
4       e   czas: 1669883572.9227993
5       f   czas: 1669883573.9252052
6       g     czas: 1669883574.93042
7       h   czas: 1669883575.9361084
8       i   czas: 1669883576.9376025
9       j    czas: 1669883577.940784
10      k   czas: 1669883578.9449012
11      l   czas: 1669883579.9473703
12      ł   czas: 1669883580.9530644
13      m   czas: 1669883581.9556081
14      n   czas: 1669883582.9612026
15      o   czas: 1669883583.9658685
16      p   czas: 1669883584.9705377
17      r   czas: 1669883585.9765208
18      s   czas: 1669883586.9826722
19      t   czas: 1669883587.9853399
20      u   czas: 1669883588.9903429
21      w   czas: 1669883589.9929047
22      x   czas: 1669883590.9984226

In [11]:
literki=pd.read_csv("dane_02-12_09_32-kopia.txt")

In [12]:
literki

           nie wiem    nie wiem 2
0     -35616.457367  1.669884e+09
1    -116718.349814  1.669884e+09
2    -163923.931774  1.669884e+09
3    -147323.380161  1.669884e+09
4    -111005.282261  1.669884e+09
...             ...           ...
6403    4186.673161  1.669884e+09
6404   -2459.010031  1.669884e+09
6405   -6679.829271  1.669884e+09
6406   -3025.466761  1.669884e+09
6407     794.964566  1.669884e+09

[6408 rows x 2 columns]